In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [3]:
raw_data = pd.read_excel("raw_data.xlsx")

In [4]:
raw_data.dtypes

Card Name                                object
Bank Name                                object
URL                                      object
Card Type                                object
Interest Rate(%)                         object
Cash Withdrawal Limit Per transaction    object
Cash withdrawal Limit Per day            object
Credit Limit(Max)                        object
International Transaction Available      object
Balance Transfer Available               object
Dual currency                            object
reward_supplementary_card                object
reward_airport_lounge                    object
reward_cashback_available                object
reward luxary resort/hotel               object
reward insurance plan                    object
reward travel benefits                   object
reward fine dining                       object
reward buffet discount                   object
reward medical discount                  object
reward_shopping                          object
reward airlines ticket                   object
reward point program                     object
EMI available                            object
dtype: object

In [5]:
raw_data.isnull().sum()

Card Name                                 0
Bank Name                                 0
URL                                       0
Card Type                                 0
Interest Rate(%)                          4
Cash Withdrawal Limit Per transaction     2
Cash withdrawal Limit Per day             2
Credit Limit(Max)                        15
International Transaction Available       3
Balance Transfer Available                6
Dual currency                             7
reward_supplementary_card                 4
reward_airport_lounge                     5
reward_cashback_available                 4
reward luxary resort/hotel                4
reward insurance plan                     4
reward travel benefits                    4
reward fine dining                        5
reward buffet discount                    4
reward medical discount                   4
reward_shopping                           4
reward airlines ticket                    4
reward point program                      4
EMI available                             5
dtype: int64

# Boolean Features

In [6]:
bool_features = list(raw_data.columns[8:])

In [7]:
raw_data[bool_features] = raw_data[bool_features].fillna('F')

# Interest Rate

In [8]:
raw_data['Interest Rate(%)'] = raw_data['Interest Rate(%)'].replace('N/G',np.nan)

# Cash Withdrawal Features

In [9]:
raw_data['Cash Withdrawal Limit Per transaction'] = raw_data['Cash Withdrawal Limit Per transaction'].replace('N/G',np.nan)

In [10]:
raw_data['Cash withdrawal Limit Per day'].replace('N/G',np.nan,inplace=True)

In [11]:
raw_data['Cash withdrawal Limit Per day'].replace('BND 5,000',np.nan,inplace=True)

In [12]:
raw_data['Cash withdrawal Limit Per day'].replace('BND 3,000',np.nan,inplace=True)

In [13]:
raw_data['Cash withdrawal Limit Per day'].value_counts()

50000.0     10
300000.0     2
100000.0     2
500000.0     2
0.5          2
250000.0     1
20000.0      1
30000.0      1
Name: Cash withdrawal Limit Per day, dtype: int64

In [14]:
raw_data.isnull().sum()

Card Name                                  0
Bank Name                                  0
URL                                        0
Card Type                                  0
Interest Rate(%)                          93
Cash Withdrawal Limit Per transaction    106
Cash withdrawal Limit Per day            109
Credit Limit(Max)                         15
International Transaction Available        0
Balance Transfer Available                 0
Dual currency                              0
reward_supplementary_card                  0
reward_airport_lounge                      0
reward_cashback_available                  0
reward luxary resort/hotel                 0
reward insurance plan                      0
reward travel benefits                     0
reward fine dining                         0
reward buffet discount                     0
reward medical discount                    0
reward_shopping                            0
reward airlines ticket                     0
reward point program                       0
EMI available                              0
dtype: int64

In [15]:
raw_data.columns = ['card_name',
                    'bank_name',
                    'url',
                    'card_type',
                    'interest_rate',
                    'cash_withdrawal_limit_per_transaction',
                    'cash_withdrawal_limit_per_day',
                    'max_credit_limit',
                    'international_transaction_available',
                    'balance_transfer_available',
                    'dual_currency',
                    'reward_supplementary_card',
                    'reward_airport_lounge',
                    'reward_cashback_available',
                    'reward_luxary_resort_hotel',
                    'reward_insurance_plan',
                    'reward_travel_benefits',
                    'reward_fine_dining',
                    'reward_buffet_discount',
                    'reward_medical_discount',
                    'reward_shopping',
                    'reward_airlines_ticket',
                    'reward_point_program',
                    'reward_emi_available']

# Credit Limit

In [16]:
raw_data['max_credit_limit'].replace('N/G',np.nan,inplace=True)

In [17]:
raw_data['max_credit_limit'].replace('N/A',np.nan,inplace=True)

# Convert to Numbers

In [18]:
raw_data['interest_rate'] = raw_data['interest_rate'].astype(float)

In [19]:
raw_data['cash_withdrawal_limit_per_transaction'] = raw_data['cash_withdrawal_limit_per_transaction'].astype(float)

In [20]:
raw_data['cash_withdrawal_limit_per_day'] = raw_data['cash_withdrawal_limit_per_day'].astype(float)

In [21]:
raw_data['max_credit_limit'] = raw_data['max_credit_limit'].astype(float)

# Convert to 1 0

In [22]:
bool_columns = list(raw_data.columns[8:])

In [23]:
for column in bool_columns:
    raw_data[column] = raw_data[column].str.strip()
    raw_data[column]= raw_data[column].map({'T':1,'F':0,'N/G':0})

In [24]:
raw_data.dtypes

card_name                                 object
bank_name                                 object
url                                       object
card_type                                 object
interest_rate                            float64
cash_withdrawal_limit_per_transaction    float64
cash_withdrawal_limit_per_day            float64
max_credit_limit                         float64
international_transaction_available        int64
balance_transfer_available                 int64
dual_currency                              int64
reward_supplementary_card                  int64
reward_airport_lounge                      int64
reward_cashback_available                  int64
reward_luxary_resort_hotel                 int64
reward_insurance_plan                      int64
reward_travel_benefits                     int64
reward_fine_dining                         int64
reward_buffet_discount                     int64
reward_medical_discount                    int64
reward_shopping                            int64
reward_airlines_ticket                     int64
reward_point_program                       int64
reward_emi_available                       int64
dtype: object

In [25]:
raw_data = raw_data.drop(['cash_withdrawal_limit_per_transaction','cash_withdrawal_limit_per_day'],axis=1)

# Save Data

In [26]:
raw_data.to_csv("clean_data.csv",index=False)